<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="/docs/4.5/assets/img/favicons/browserconfig.xml" name="msapplication-config">
    <meta content="#563d7c" name="theme-color">
    <title>Авторизация</title>

    <!-- Bootstrap core CSS -->
    <link href="../../webapp/css/bootstrap.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="../../webapp/img/favicons/favicon.ico" rel="icon">


    <link href="../../webapp/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
<form action="/manager" class="form-signin" method="GET">
    <img alt="" class="mb-4" src="../../webapp/img/gibdd.png">

    <div class="mb-3">
        <label for="user">Выберите пользователя</label>
        <select class="form-control custom-select d-block w-100 form-control" id="user"
                name="user"
                required type="text">
            <option value="">...</option>
        </select>
        <div class="invalid-feedback">
            Неккоректное имя пользователя
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2020</p>
</form>
</body>
</html>